body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background: url("background.jpg") no-repeat center center;
  background-size: 100% calc(100% + 100px);
  color: #ffffff;
  overflow: auto;
  position: relative;
  height: 100%;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 40, 41, 0.3);
  z-index: 0;
}

.navbar {
  background-color: transparent;
  z-index: 2;
}

.nav-item {
  position: relative;
  margin: 0 30px;
}

.nav-item .underline {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  bottom: 0;
  left: 50%;
  transition: all 0.3s;
}

.nav-item.active .underline {
  width: 100%;
  left: 0;
}

.nav-link {
  color: #ffffff !important;
}

@media (max-width: 991.98px) {
  /* Targeting screens smaller than Bootstrap's lg breakpoint */
  .nav-item {
    text-align: center; /* Center the text */
  }

  .nav-item .underline {
    margin-top: -4;
    width: 100%; /* Set underline width */
    left: 0; /* Align the underline with the left edge of the text */
    right: 0; /* Align the underline with the right edge of the text */
    margin-left: auto; /* Center the underline */
    margin-right: auto; /* Center the underline */
    margin-bottom: 4px;
  }

  .navbar-collapse {
    background-color: rgba(
      36,
      40,
      41,
      1
    ); /* Add a background with some opacity */
    border-radius: 10px; /* Rounded corners */
  }

  .navbar-toggler {
    background-color: rgba(36, 40, 41, 1);
  }

  .navbar-toggler-icon {
  }
}

.nav-container {
  display: inline-block; /* Make the container fit the content */
  position: relative; /* Establish a stacking context for the underline */
}

.underline {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
}

.nav-item.active .underline {
  width: 100%; /* Full width of the active item */
}
