body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: 100% calc(100% + 100px);
  color: #ffffff;
  overflow-x: hidden;
  overflow: auto;
  position: relative;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 40, 41, 0.3);
  z-index: 0;
}

.navbar {
  background-color: transparent;
  z-index: 2;
}

.nav-item {
  position: relative;
  margin: 0 30px;
}

.nav-item .underline {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all 0.3s;
}

.nav-item.active .underline {
  width: 100%;
  left: 0;
}

.nav-link {
  color: #ffffff !important;
}

@media (max-width: 991.98px) {
  /* Targeting screens smaller than Bootstrap's lg breakpoint */
  .nav-item {
    text-align: center; /* Center the text */
  }

  .nav-item .underline {
    width: 100%; /* Set underline width */
    left: 0; /* Align the underline with the left edge of the text */
    right: 0; /* Align the underline with the right edge of the text */
    margin-left: auto; /* Center the underline */
    margin-right: auto; /* Center the underline */
  }
}

.nav-container {
  display: inline-block; /* Make the container fit the content */
  position: relative; /* Establish a stacking context for the underline */
}

.underline {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-item.active .underline {
  width: 100%; /* Full width of the active item */
}
